<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home of all things flights! ✈️</h1>

    <a href="/flights">List of All Flights</a>
    <br>
    <a href="/new">Add A New Flight</a>
    
</body>
</html>